# Секреты
.env

# Результаты перевода и временные файлы Excel
*.xlsx
~$*.xlsx

# Служебные папки Python
__pycache__/
venv/
.vscode/

# PyInstaller build artifacts
build/
dist/

# PyInstaller misc
*.spec.bak